body {
    padding-top: 5rem;
}

.warning {
    color: red;
}

.main-frame {
    padding: 3rem 1.5rem;
    text-align: center;
}

.form-choice {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-label-group > input, form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.add-button .del-button {
    text-align: center;
}