{% extends "layout.html" %}
{% block content %}

<dev class="main-frame">
    <h1><img alt="logo" src="/static/images/logo.png"></h1>

    <form class="form-choice">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">幹事決め ~運命の時~</h1>
            <p>名前を入力して、ボタンを押してください。</p>
        </div>

        <div class="form-label-group">
            <input type="text" id="name_1" class="form-control" placeholder="名前" required autofocus>
        </div>
    </form>
</dev>

{% endblock %}